@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">Flower cafe</h1>
    <h3>Contact</h3>
    </hr>
    <p>Contact no : 7999796317</p>
    <p>Email : shivam361v@gmail.com</p>
    <p>shahdol, madhya pradesh</p>
</div>
