@{
    ViewData["Title"] = "About us";
}

<div class="text-center">
    <h1 class="display-4">Welcome, To Flower cafe</h1>
    <hr/>
    <p>About us</p>
    <p>Welcome, to  world of flowers.Fresh  flower at your finger tips.</p>
    <p></p>    
</div>
