@using BOL;
@{
    ViewData["Title"] = "Products Page";
}

 
 <h3>List of Flower for Sale</h3>
@{
    List<Product> products = ViewBag.catalog;

    foreach( Product product in products)
    {
        Console.WriteLine(@product.ProductId);
        <li> <a href="/products/details/@product.ProductId">@product.Title</a></li>
        
    }

}